:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	.window {
		display: flex;
		flex-direction: column;
		width: 95vw;
		height: 95vh;
		background-color: rgb(255, 255, 255);
		border: 1px solid black;

		.titlebar {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			background-color: gray;

			padding: 10px;

			.title {
				font-size: 1.5em;
				color: white;
				font-family: monospace;
			}

			.buttons {
				button {
					margin: 0px;
					padding: 5px;
					border-radius: 50%;

					width: 20px;
					height: 20px;
					border: none;

					background-color: chocolate;

					display: flex;
					justify-content: center;
					align-items: center;

					&[data-action="close"] {
						background-color: red;
					}
				}
			}
		}

		.content {
			flex: 1;
			background: black;
			color: white;

			padding: 5px 10px;

			pre {
				margin: 0px;
				padding: 0px;

				code {
					font: 11pt/1.25 Monaco, monospace;

					.input {
						color: rgb(218, 218, 218);

						&::before {
							content: '< ';
						}
					}

					.title {
						font-size: 1.5em;
					}

					.subtitle {
						font-size: 1.2em;
					}

					.output {
						color: white;

						&::before {
							content: '> ';
						}
					}

					.debug {
						color: Snow;
					}

					.info {
						color: aqua;
					}

					.success {
						color: LawnGreen;
					}

					.warn {
						color: gold;
					}

					.error {
						color: LightCoral;
					}
				}
			}

			input {
				caret-color: white;
				color: white;
				border: none;
				outline: none;
				background-color: rgba(255, 255, 255, 0);
			}
		}

	}
}