:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;

	.window {
		display: flex;
		flex-direction: column;
		width: 95vw;
		height: 95vh;
		background-color: #202020;
		border: 1px solid black;

		.titlebar {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			background-color: #000000;
			border-bottom: 1px solid #202020;

			height: 40px;


			.title {
				margin: 10px;
				font-size: 1em;
				color: white;
				font-family: Verdana, Geneva, Tahoma, sans-serif;
			}

			.buttons {
				display: flex;
				flex-direction: row;

				button {
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;

					margin: 0px;
					padding: 10px;

					min-width: 70px;
					height: 100%;
					background-color: rgba(255, 255, 255, 0);
					border-width: 0px;

					color: white;
					font-family: Verdana, Geneva, Tahoma, sans-serif;
					font-size: 20px;


					transition: background-color 200ms linear;

					&:hover {
						background-color: #1a1a1a;
						transition: background-color 0ms linear;
					}

					&[data-action="close"] {
						min-width: 70px;

						&:hover {
							background-color: crimson;
						}
					}
				}
			}
		}

		.content {
			flex: 1;
			background: black;
			color: white;

			padding: 5px 10px;

			overflow: scroll;
			overflow-x: hidden;

			pre {
				margin: 0px;
				padding: 0px;

				code {
					font: 11pt/1.25 Monaco, monospace;

					a {
						color: aquamarine;
						font-weight: bold;
					}

					[data-command] {
						&::after {
							content: '🚀';
						}
						color: #f9ff00;
						cursor: pointer;
					}

					.input {
						color: rgb(218, 218, 218);

						&::before {
							content: '< ';
						}
					}

					.title {
						font-size: 1.5em;
					}

					.subtitle {
						font-size: 1.2em;
					}

					.output {
						color: white;

						&::before {
							content: '> ';
						}
					}

					.debug {
						color: Snow;
					}

					.info {
						color: aqua;
					}

					.success {
						color: LawnGreen;
					}

					.warn {
						color: gold;
					}

					.error {
						color: LightCoral;
					}
				}
			}
			.inputWrapper {
				display: flex;
				flex-direction: row;
				font: 11pt/1.25 Monaco, monospace;

				&::before {
					content: '< ';
					margin-right: 10px;
				}
				input {
					caret-color: white;
					color: white;
					border: none;
					outline: none;
					background-color: rgba(255, 255, 255, 0);
					width: 100%;
				}
			}
		}

		.footer {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;

			background-color: #333333;
			padding: 5px 10px;

			a {
				font-family: Verdana, Geneva, Tahoma, sans-serif;
				color: white;
			}
		}

	}
}